@model List<Product>
@{
    ViewData["Title"] = "Yedibela Balcılık";
}


<div class="container mt-5 text-center">
    <h1 class="text-warning fw-bold">Bal Çeşitleri</h1>

    <div class="row mt-3 d-flex justify-content-center">
   @for (int i = 0; i < Model.Count; i++)
{
    var product = Model[i];
    <div class="col-md-4 mb-4">
        <div class="card shadow">
            @if (!string.IsNullOrEmpty(product.ImageUrl1))
            {
                <div id="carousel-@i" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="@product.ImageUrl" class="d-block w-100" alt="@product.Name">
                        </div>
                        <div class="carousel-item">
                            <img src="@product.ImageUrl1" class="d-block w-100" alt="@product.Name">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-@i" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-@i" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            }
            else
            {
                <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
            }

            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <p class="card-text fw-bold text-danger">Fiyatı öğrenmek için Whatsapp'tan ulaşın!</p>
            </div>
        </div>
    </div>
}

    </div>

    <div class="row mt-5">
        <div class="col text-center">
            <a href="https://wa.me/905367874071?text=Merhaba,%20iyi%20günler.%0A%0ASiteniz%20üzerinden%20ürünlerinizi%20inceledim%20ve%20sipariş%20vermek%20istiyorum.%0A%0AMevcut%20stok%20durumunuz%20ve%20ödeme%20seçenekleriniz%20hakkında%20bilgi%20alabilir%20miyim?%0A%0ATeşekkür%20ederim."
                class="btn btn-success btn-lg shadow-lg px-4 py-2" target="_blank">
                <img src="~/images/whatsapp-logo.png" alt="WhatsApp" style="width: 50px; height: 50px; margin-right: 10px;"> WhatsApp
            </a>
        </div>
    </div>

    <div class="mt-4">
        <a href="/Home" class="btn btn-secondary">Anasayfaya Dön</a>
    </div>

</div>
